<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <a href="/dashboard">Dashboard</a>
    <h2 class="title mt-5">Edit Post</h2>
    <form class="edit-post-form">
        <div>
            <label for="post-title">Title:</label>
            <input class="input" name="post-title" type="text" value="{{post.title}}" />
        </div>
        <div>
            <label for="post-body">Body:</label>
            <input class="input" name="post-body" type="text" value="{{post.post_body}}" />
        </div>
        <br>
        <div>
            Created by you on {{format_date post.created_at}}
            <br>
            <br>
            <a href="/post/{{post.id}}">{{post.comments.length}} comments</a>
        </div>
        <br>
        <button type="submit">Save Changes</button>
        <button type="click" class="delete-post-btn">Delete Post</button>
    </form>

    {{> comments post.comments}}
</div>

<script src="/public/js/edit-post.js"></script>
<script src="/public/js/delete-post.js"></script>